@import url(https://fonts.googleapis.com/css2?family=Montserrat);

/* Header */

body {
    background-image: url(assets/sub-bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#yobimoLogo {
    margin: 25px;
}

#ybmHeader {
    width: 70px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    min-width: 800px;
    margin: 30px;

    border: 1px solid #ffffff;
    border-color: rgba(255, 255, 255, 0.322);
    border-radius: 50px;
    border-width: 2px;

    backdrop-filter: blur(16px);
}

#logoText {
    margin-right: auto;

    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#infoButton {
    display: block;
    float: right;
    margin-right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

@keyframes welcomeTitleAnim {
    from {opacity: 0%;}
    to {opacity: 100%;}

    
}

#welcomeTitle {
    color: #ffffff;
    margin: 10px;

    animation-fill-mode: forwards;
    animation-name: welcomeTitleAnim;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: bolder;
    text-align: center;
}

@keyframes line1Animwidth {
    from {width: 1%; opacity: 0%;}
    to {width: 90%; opacity: 100%;}
}

#line1 {
    width: 0%;
    opacity: 0%;

    animation-fill-mode: forwards;
    animation-name: line1Animwidth;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
}

@keyframes optionsTextAnim {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#optionsText {
    color: #ffffff;

    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: bolder;
    text-align: center;

    opacity: 0%;

    animation-fill-mode: forwards;
    animation-name: optionsTextAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}