@import url(https://fonts.googleapis.com/css2?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

/* Header */

body {
    background-image: url(assets/sub-bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

a {
    color: inherit;
}

#yobimoLogo {
    margin: 25px;
}

#ybmHeader {
    width: 70px;
}

#introPlayer {
    text-align: center;
}

#header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(90% - 60px);
    height: calc(13% - 60px);
    min-height: 40px;
    max-height: 40px;
    max-width: 1000px;
    z-index: 1000; 

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;
    background-color: #000000af;
    color: #ffffff;

    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 50px;
    border-width: 2px;

    backdrop-filter: blur(10px);

    box-shadow: 0px 0px 50px #000000;
}

#logoText {
    margin-right: auto;

    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#infoButton {
    display: block;
    float: right;
    margin-right: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

@keyframes welcomeTitleAnim {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#subtitle {
    margin: auto;
    width: 90%;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;

    opacity: 0%;
    animation-fill-mode: forwards;
    animation-name: welcomeTitleAnim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;

}

@keyframes scrollText {
    0% {
        transform: translateX(0); /* Start from the beginning */
    }
    100% {
        transform: translateX(-100%); /* Move completely to the left */
    }
}

#welcomeTitle {
    padding-top: 10%;
    color: #ffffff;

    animation-fill-mode: forwards;
    animation-name: welcomeTitleAnim;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: bolder;
    text-align: center;
}

#mainWelcomeTitle {
    padding-top: 10%;
    padding-bottom: 5%;
    overflow: hidden; /* Hide the overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    display: flex; /* Align items in a row */
    width: 100%; /* Set the width of the wrapper */

    animation-fill-mode: forwards;
    animation-name: welcomeTitleAnim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#mainWelcomeText {
    display: inline-block;
    font-family: "Syne", sans-serif;
    font-size: 5vw; /* Responsive font size */
    color: #ffffff;
    padding-right: 2vw; /* Add some space between repeated text */
    animation: scrollText 90s linear infinite;
}

@keyframes line1Animwidth {
    from {width: 1%; opacity: 0%;}
    to {width: 90%; opacity: 100%;}
}

#line1 {
    width: 0%;
    opacity: 0%;

    animation-fill-mode: forwards;
    animation-name: line1Animwidth;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
}

@keyframes optionsTextAnim {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#optionsText {
    color: #ffffff;

    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: bolder;
    text-align: center;

    opacity: 0%;

    animation-fill-mode: forwards;
    animation-name: optionsTextAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}

@keyframes optionButtonAnim {
    from {scale: 50%; opacity: 0%;}
    to {scale: 100%; opacity: 100%;}
}

#optionsContainer1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: auto;
    width: 400px;
}

#optionsContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: auto;
    width: 800px;
}

#optionButton {
    border: 1px solid #ffffff;
    border-color: rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    border-width: 2px;

    background-color: #ffffff00;

    box-shadow: 0px 0px 10px #ffffff00;

    opacity: 100%;
    scale: 100%;

    animation-name: optionButtonAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;

    transition: 0.5s;
}

#optionButton:hover {
    background-color: #ffffff3d;

    box-shadow: 0px 0px 10px #ffffff56;

    scale: 110%;
}

#optionText {
    color: #ffffff;

    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-optical-sizing: auto;
    font-weight: bolder;
    text-align: center;

    margin: 10px;
}

#dmoptionsContainer {
    display: flex;
    justify-content: center; /* Center the button in the container */
    align-items: center;
    margin: auto;
    min-width: 90%;
    text-align: center;
}

#dmoptionButton {
    display: flex; /* Use flex to align icon and text within the button */
    align-items: center;
    justify-content: center;
    padding: 10px; /* Add padding for better spacing inside the button */
    gap: 10px; /* Space between icon and text */
    width: fit-content; /* Adjust width to fit content */
    border: 2px solid rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 10px #ffffff00;
    transition: 0.5s;
}

#dmoptionButton:hover {
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.34);
    transform: scale(1.1); /* Smoothly scale on hover */
}

#dmSubmitButton {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

#dmoptionIcon {
    filter: brightness(0) invert(1);
    width: 80px;

}

#optionIcon {
    filter: brightness(0) invert(1);
    width: 130px;

    margin: 20px;
}

#footer {
    margin: auto;
    width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #00000062;
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 50px;
    border-width: 2px;

    backdrop-filter: blur(10px);
}

#ftLeftAlign {
    margin: 2%;
    float: left;

    color: #ffffff;

    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#ftRightAlign {
    margin: 2%;
    float: right;

    color: #ffffff;

    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#ReportContainer {
    text-align: center;
    background-color: #ffffff10;

    border: 1px solid #ffffff;
    border-color: rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    border-width: 2px;
}

#subtitleBelow {
    margin: auto;
    width: 80%;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;

    opacity: 0%;

    animation-fill-mode: forwards;
    animation-name: optionsTextAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}

#markdownContainer {
    padding-top: 2%;
    padding-bottom: 2%;
    padding: 2%;
    margin: auto;
    width: 80%;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    background-color: #000000ab;
    border-radius: 10px;

    opacity: 0%;

    animation-fill-mode: forwards;
    animation-name: optionsTextAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: .5s;
}

#markdownText {
    margin: auto;
    width: 80%;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    opacity: 100%;
}

#faqSect {
    text-align: center;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    padding: 10%;
    margin: auto;
    min-width: 80%;
    border-radius: 10px;
    background-color: #00000073;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #53535381;
  }
  
.panel {
    padding: 0 18px;
    margin: auto;
    width: 90%;

    border-radius: 10px;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    
    background-color: rgba(0, 0, 0, 0.685);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '+';
    font-size: 20px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "-";
  }
  
#container {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.progress-container {
    position: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: bolder;
    color: white;

    margin: auto;
    max-width: 70%;
    background-color: #0000007a;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.progress-bar {
    height: 30px;
    background-color: #252525;
    text-align: center;
    color: white;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;

    margin: 3%;
}

.statusTexts {
    position: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    color: white;

    margin: auto;
    max-width: 70%;
    background-color: #0000007a;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 9px;
}

#entryText1, #entryText2, #entryText3, #entryText4 {
    font-family: Montserrat;
    text-align: center;
    color: white;
    line-height: 30px;
    transition: width 0.5s ease;
}

#progressStatus1, #progressStatus2, #progressStatus3, #progressStatus4 {
    position: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: bolder;
    color: white;

    margin: auto;
    max-width: 20%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #000000;
}

#dmpgcolor1 {
    margin: auto;
    max-width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #0f4fbd;
}

#dmpgcolor2 {
    margin: auto;
    max-width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #bdb50f;
}

#dmpgcolor3 {
    margin: auto;
    max-width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #5e5e5e;
}

#dmpgcolor4 {
    margin: auto;
    max-width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #46c7c3;
}

#dmpgcolor5 {
    margin: auto;
    max-width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #5d31aa;
}

#dmpgcolor6 {
    margin: auto;
    max-width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #57ae2b;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    align-items: center;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;

    font-family: "Montserrat";
    font-size: 15px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #00000054;
    width: 80%; /* Could be more or less, depending on screen size */
    animation: zoomIn 0.4s forwards; /* Add animation */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalBtnConfirm {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    height: 23;
    width: 100px;

    background-color: #222e53;
    border: 2px solid #203955;
    border-radius: 14px;

    box-shadow: 0px 0px 2px #000000;
}

#modalBtnConfirm:active {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    height: 23;
    width: 100px;

    background-color: #707ea7;
    border: 2px solid #30354b;
    border-radius: 14px;

    box-shadow: 0px 0px 2px #000000;
}

#modalBtnExit {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    height: 23;
    width: 100px;

    background-color: #532222;
    border: 2px solid #381313;
    border-radius: 14px;

    box-shadow: 0px 0px 2px #000000;
}

#modalBtnExit:active {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    height: 23;
    width: 100px;

    background-color: #a77070;
    border: 2px solid #4b3030;
    border-radius: 14px;

    box-shadow: 0px 0px 2px #000000;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: "Montserrat";
    font-weight: 900;
    background: rgba(151, 151, 151, 0.8);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 1000; /* Make sure it covers everything */
}
#loading.hidden {
    display: none; /* Hide loading screen when not needed */
}
